* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*home part start*/

.home{
    background-color: rgb(250, 239, 239);
    margin: auto;
}
.home-header{
    align-self: auto;
   width: 100%;
   height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 60px;
}
.home-body{
    position: relative;
}
.Home-image{
    width: 85%;
    height: 800px;
    margin: auto;
    align-items: center;
    display: flex;
    object-fit: cover;
    padding-top: 200px;
}

.home-caption{
    font-size: 120px;
    position: absolute;
    font-weight: 1000;
    top: 540px;
    left: 380px;
    color: white;
    line-height: 122px;
    font-family: 'Abril Fatface', cursive;
    
}
.blacktext{
    color: black;
}

.home-bottom{
    padding-top: 270px;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    align-items: center
}
.left-bottom{
    padding: 20px;
    font-size: 25px;
    align-items: flex-end;
    background-color:  rgb(250, 239, 239);
    color: rgb(0, 0, 0);
    border-radius: 40px;
}
.left-bottom:hover {
   
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.right-bottom{
    font-size: 25px;
    font-weight:lighter;
    position: relative;
    top: -50px;
    width: 37%;
    letter-spacing: 3px;
    line-height: 35px;
}
/*home part ends*/


/*about part start*/
.about-me{
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    margin: auto;
    padding-top: 60px;
    
}
.about-leftside{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5%;
   
}

.about-header{
    font-size: 25px;
    letter-spacing: 20px;
    padding-top: 70px;
    font-weight: 500;
}
.about-caption{
    font-size: 120px;
    padding-top: 50px;
    font-family: 'Abril Fatface', cursive;
}
.about-quote{
    font-size: 25px;
    font-weight: 100;
    width: 60%;
    display: flex;
    padding-top: 100px;
    line-height: 40px;
    letter-spacing: 3px;
}
.side-img1{
    width: 600px;
    display: flex;
    padding-top: 150px;
    margin: auto;
}
.hashtags{
    list-style: none;
    text-align: center;
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 100px;
    font-size: 20px;
    flex-wrap: wrap;
}
.hashtags li{
    border: 1px solid white;
    border-radius: 40px;
    padding: 25px;
}
/*about part ends*/

/*services part start*/

.services{
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    margin:auto;
    padding-top: 100px;
    justify-content: center;
    gap: 100px;
}
.service-leftside .side-img2{
    width: 650px;
    height: 1250px;
    display: flex;
    margin: auto;
    object-fit: cover;
    padding-top: 110px;

}
.service-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.about-caption-right{
    font-family: 'Abril Fatface', cursive;
    font-size: 120px;
    padding-top: 20px;
}
.service-caption{
    font-size: 120px;
    padding-top: 50px;
    font-family: 'Abril Fatface', cursive;
    line-height: 100px;
}
.service-quote{
    font-size: 25px;
    font-weight: 100;
    width: 60%;
    display: flex;
    padding-top: 100px;
    line-height: 40px;
    letter-spacing: 3px;
}
.service-header{
    padding-bottom: 100px;
}
.button-links{
    width: 80%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid darkgray;
    justify-content: space-between;
    line-height: 70px;
    
}

.logo-link{
    width: 20px;
    filter: invert(100%) sepia() saturate(10000%) hue-rotate(300deg);
}
.service-link{
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    word-spacing: 20px;
    color: white;
    padding-left: 10px;
    
}
.service-link-2{
    text-decoration: none ;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
/*services part ends*/

/*workflow part start*/

.workflow{
    background-color: rgb(250, 239, 239);
    
}
.workflow-upper{
    display: flex;
    text-align: center;
    width: auto;
    margin: auto;
    flex-direction: column;
    padding-top: 100px;

}
.work-mainheader{
    color: rgb(56, 55, 55);
}
.work-caption{
    line-height: 130px;
}
.work-caption-1{
    color: rgb(39, 39, 39);
}
.work-caption-2{
    color: #842727;
}
.work-body{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 200px;
    
}
.work-body h1{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 300;
    color: rgb(59, 59, 59);
}
.work-img{
    width: 70px;
    padding-bottom: 50px;
}
.work-arrow{
    width: 100px;
    fill: #7c1616;
}
/*workflow part ends*/

/*why-me part starts*/
.why-me{
    background-color: rgb(250, 227, 227);
    display: flex;
    margin: auto;
    padding-top: 150px;
}
.why-left{
    width: 40%;
    margin: auto;
    align-items: center;
    padding-bottom: 200px;
}
.colortext{
    color: #7c1616;
}
.why-caption{
    
        font-size: 120px;
        padding-top: 50px;
        font-family: 'Abril Fatface', cursive;
    }

.why-quote{
    padding-top: 100px;
    font-size: 25px;
    font-weight:lighter;
    letter-spacing: 3px;
    line-height: 35px;
}
.why-right{
    width: 40%;
    margin: auto;
    align-items: center;
    
}
.why-images {
   display: grid;
   grid-template-columns: 0.5fr 1fr;
   grid-template-rows: 0.1fr 0.1fr;
   grid-row-gap: 3px; 
   grid-column-gap: 40px;
}
.badimage{
    width: 100%;
    height: 240px;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 0px 0px 5px 2px rgb(54, 54, 54); 
}
.goodimage{
    width: 100% ;
    height: 240px;
    grid-column: 2/3;
    grid-row: 2/3;
    object-fit: cover;
    box-shadow: 0px 0px 5px 2px rgb(49, 49, 49); 
}
.whylogo1{
     width: 50px;
     grid-column: 1/2;
     grid-row: 1/2;
     border: 3px solid rgb(255, 0, 0);
     border-radius: 50%;
     padding: 5px;
     background-color: rgb(250, 227, 227); 
     opacity: calc(70%);
     justify-self: center;
     
}
.whylogo2{
    width: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    border: 3px solid rgb(17, 161, 4);
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(250, 227, 227); 
    opacity: calc(70%);
    justify-self: center;
   
}
.why-quote1{
    padding-top: 300px;
}
/*why-me part ends*/

/*project part starts*/
.project{
    display: flex;
    margin: auto;
    background-color: rgb(250, 239, 239);
    flex-direction: column;
}
.project-upper{
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}
.project-quote{
    padding-bottom: 150px;
}
.project-bottom{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    padding-bottom: 150px;
}
.project-left{
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}
.project-right {
    display: flex;
    width: 60%;
    margin: auto;
   
}
.project-button{
    padding-top: 180px;
    
}
.project-header{
    padding-bottom: 190px;
    
}
.project-grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.project-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid1{
    grid-row: span 3;
}
/*project part ends*/

/*testimonial part starts*/
.testimonial{
    background-color: rgb(250, 239, 239);
    padding-bottom: 500px;
}
.test-upper{
    display: flex;
    width: 70%;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}
.test-bottom{
    padding-top: 150px;
}
.test-border{
    border: 2px solid rgb(252, 222, 222);
    width: 40%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: rgb(252, 222, 222);
    padding: 40px;
}
.border-logo{
    width: 100px;
    padding-bottom: 50px;
}
.border-content{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(49, 49, 49);
    border-bottom: 1px solid rgb(117, 117, 117);
    line-height: 40px;
    padding-bottom: 60px;
}
.border-footer{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 90%;
    
    padding-top: 40px;
}
.border-footer h1{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #2b2a2a;
}
.border-footer h2{
    font-size: 20px;
    font-weight: 500;
    color: #2b2a2a;
}
.test-button{
    display: flex;
    margin: auto;
    width: 40%;
    padding-top: 50px;
}
.test-button input{
    padding: 10px;
    font-size: 20px;
    width: 170px;
}
/*testimonial part ends*/

/*last part starts*/
.lastpage{
    width: auto;
    margin: auto;
    background-color: rgb(27, 27, 27);
    color: white;
    
}
.last-header{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
}
.last-logolinks{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.last-logolinks img{
    width: 30px;
    padding-top: 30px;
}
.last-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}
.last-email{
    font-size: 30px;
    color: lightgray;
    border-bottom: 1px solid white;
    font-weight: 100;
    padding-top: 100px;
}
.last-footer{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 150px;
}

 .navbar{
    display: flex;
    flex-direction: row;
    gap: 20px;
 }   
.last-nav a{
    text-decoration: none;
    color: rgb(131, 131, 131);
}
.last-nav a:hover{
    color: white;
}
/*last part ends*/










@media screen and (max-width: 1440px){
    .why-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .why-right{
        width: 70%;
        padding-bottom: 150px;
    }

}


@media screen and (max-width: 1336px){
    .about-me{
        display: flex;
        flex-direction:column-reverse;
        margin: auto;
        text-align: center;
    }
    .about-leftside{
        width: 90%;
        margin: auto;
        text-align: center;
   }
   .about-caption{
    display: flex;
    text-align: center;
    width: 90%;
    margin: auto;
    line-height: 120px;
}
   .about-quote{
    width: 100%;
   }
   .side-img1{
    width: 80%;
    height: 500px;
    object-fit: cover;
    padding-bottom: 50px;
    }
    .services{
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    .service-leftside .side-img2{
        width: 80%;
        height: 500px;
        object-fit: cover;
        padding-top: 100px;
       
    }
    .service-right{
        width: 60%;
        margin: auto;
        text-align: center;
        top: -100px;
    }
    .service-quote{
        width: 100%;
    }
    .button-links{
        width: 100%;
    }
    .work-caption{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
        line-height: 120px;
    }
    .work-body{
        display: flex;
        width: 90%;
        margin: auto;

    }
    .why-caption{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
        align-items: center;
    }
    .why-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .why-images{
        width: 80%;
    }
    .project-caption{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
        align-items: center;
    }
    .test-caption{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
        align-items: center;
    }
    .test-border{
        width: 70%;
    }
    .test-button{
        width: 70%;
    }
}


@media screen and (max-width : 1080px){
    .home-body{
        display: flex;
        margin: auto;
        width: 95%;
        flex-direction: column;
        text-align: center;
    }
    .Home-image{
        width: 90%;
        height: 600px;
    }
    .home-caption{
        display: flex;
        margin: auto;
        position: relative;
        flex-direction: column;
        top: auto;
        left: auto;
        color: #2b2a2a;
        text-align: center;
    }
    .home-bottom{
        display: flex;
        width: 80%;
        flex-direction: column;
        padding-top: 100px;
        
    }
    .left-bottom{
           width: 40%;
           margin-top: 100px;

     }
     .right-bottom{
        width: 100%;
        margin-top: 200px;
     }
     .hashtags{
        font-size: 20px;
        }
        .hashtags li{
            border: 1px solid white;
            border-radius: 40px;
            padding: 15px;
        }
     .service-right{
        width: 90%;
     }
     .button-links{
        width: 60%;
        margin: auto;
        display: flex;
        align-items: center;
     }
     .work-body{
        display: flex;
        width: 40%;
        margin: auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
     }
     .why-left{
        width: 90%;
        
     }
     .why-right{
        display: flex;
        width: 70%;
        margin: auto;
    }
    .why-images{
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr;
        justify-items: center;
        margin: auto;
        grid-gap: 20px;
    }
    .whylogo1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .whylogo2{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .badimage{
        grid-column: 1/3;
        grid-row: 2/3;
        width: 70%;
    }
    .goodimage{
        grid-column: 1/3;
        grid-row: 4/5;
        width: 70%;
    }
    .project-bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    
    .project-left{
        width: 90%;
    }
    .project-grid{
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 100px;
    }
    .grid1{
        grid-column: span 2;
    }
    .grid4{
        grid-column: span 2;
    }
    
}

@media screen and (max-width : 768px){
    .home-caption{
        font-size: 80px;
    }
    .about-caption{
        font-size: 80px;
    }
    .service-caption{
        font-size: 80px;
    }
    .work-caption{
        font-size: 80px;
    }
    .why-caption{
        font-size: 80px;
    }
    .left-bottom{
        font-size: 16px;
    }
    .hashtags{
        font-size: 15px;
        }
        .hashtags li{
            border: 1px solid white;
            border-radius: 40px;
            padding: 15px;
        }
        .last-header{
            display: flex;
            width: auto;
            margin: auto;
            flex-direction: column;
            align-items: center;
        }
        .last-main{
            font-size: 20px;
            font-weight: 400;
        }
        .last-links{
            text-align: center;
            padding-top: 50px;
        }
}

@media screen and (max-width : 425px){
    .home-caption{
        font-size: 40px;
        line-height: 40px;
    }
    .left-bottom{
        font-size: 10px;
        }
    .about-caption{
        font-size: 40px;
        line-height: 40px;
    }
    .service-caption{
        font-size: 40px;
        line-height: 40px;
    }
    .work-caption{
        font-size: 40px;
        line-height: 40px;
    }
    .why-caption{
        font-size: 40px;
        line-height: 40px;
    }
    .right-bottom{
        font-size: 20px;
    }
    .about-quote{
        font-size: 20px;
    }
    .service-quote{
        font-size: 20px;
    }
    .why-quote{
        font-size: 20px;
    }
    .why-quote2{
        font-size: 20px;
    }
    .border-content{
        font-size: 15px;
    }
    .test-border{
        width: 90%;
    }
    .border-footer h1{
        font-size: 12px;
    }
    .border-footer h2{
        font-size: 12px;
    }
    .about-header{
        font-size: 20px;
        letter-spacing: 13px;
    }
    .last-email{
        font-size: 20px;
    }
    .hashtags{
        font-size: 15px;
    }
    .hashtags li{
            border: 1px solid white;
            border-radius: 40px;
            padding: 12px;
    }
    .last-footer{
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        margin: auto;
        align-items: center;
    }
    .footer{
        padding-top: 50px;
        
    }

}


    



